# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = creaticoding
	email = seokho.jeong@toss.im
	signingkey = 

[alias]
    s = switch
    ss = stash
    ru = remote update
    rs = reset
    pl = pull origin HEAD
    ps = push origin HEAD
    l = log
